/* Main Page Layout B Nocis */

.container h6 {
    text-align: center;
    font-size: 6em;
}
.logo {
    
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

aside {
    flex-basis: 200px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-content: center; 
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 36px;
    flex-grow: 1;
    text-align: center;
    margin: auto;
  }

h2 {
    display: flex;
    font-size: 16px;
    align-self: flex-end;
    background-color: saddlebrown;
    color: floralwhite;
    margin-top: auto;
    padding: 5px; 
}

.icons{
    padding: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px; /*edit here for margin on header*/
}

.animals{
  background:url(../assets/ANIMALS.pdf);
  width: 11em;
  height: 11em;
}

.animals:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.food{
  background:url(../assets/FOOD.pdf);
  width: 11em;
  height: 11em;
}

.food:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.howto{
  background:url(../assets/HOWTO.pdf);
  width: 11em;
  height: 11em;
}

.howto:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.lifestyle{
  background:url(../assets/LIFESTYLE.pdf);
  width: 11em;
  height: 11em;
}

.lifestyle:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.plants{
  background:url(../assets/PLANTS.pdf);
  width: 11em;
  height: 11em;
}

.plants:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.technology{
  background:url(../assets/TECHNOLOGY.pdf);
  width: 11em;
  height: 11em;
}

.technology:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.content {
    display: flex;
    margin: auto;
    margin-right: 33%;
    margin-left: 33%;
}

.article1,
.article2,
.article3 {
    display: flex;
    margin-top:20px;
    flex-wrap: wrap;
    border: 2px solid grey;
    flex-basis: 1000px;
       
}


.articleimg1{
     display:flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}

.articleimg2{
     display: flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}

.articleimg3{
     display: flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}
.art1 {
    display: flex;
    flex: 1 150px;
    
  }

.art2 {
    display: flex;
    flex: 1 150px;
   
}

.art3 {
    display: flex;
    flex: 1 150px;
   
}

.content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Footer */
.footerBar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 5%;
    bottom: 0%;
    background-color: aqua;
    z-index: 1;
    justify-content:space-between;
    flex-direction: row;
    border: 1px black solid;
    border-bottom: 0px;
}
/* Styling of the <a> tags in footer */
.footerBar a{
    text-decoration: none;
    color: black;
    background-color:white;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    padding-top:0px;
    
}
/* Footer styling for flex Option A */
#footerA {
    display: flex;
    flex-grow: 1;
    
}
/* Footer styling for flex Option B */
#footerB {
    display: flex;
    flex-grow: 2;
}

.footerBar a:hover{
    text-decoration: none;
    color: white;
     background-color: saddlebrown;
}

/*media queries starting here*/

@media only screen and (max-width: 1000px){
    .icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px; /*edit here for margin on header*/
    padding-bottom: 10em;
    }
    
    .animals, .food, .howto, .lifestyle, .plants, .technology {
    width: 50%;
    }
    
    h6 {
        width: 100%;
    }
}
