/* Main Page Layout B Nocis */

aside {
    flex-basis: 200px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-content: center; 
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 36px;
    flex-grow: 1;
    text-align: center;
    margin: auto;
     
    
  }

h2 {
    display: flex;
    font-size: 16px;
    align-self: flex-end;
    background-color: saddlebrown;
    color: floralwhite;
    margin-top: auto;
    padding: 5px;
    
  
    
}

body {
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
    
}

.content {
    display: flex;
    margin: auto;
    
}

.article1,
.article2,
.article3 {
    display: flex;
    margin-top:20px;
    flex-wrap: wrap;
    border: 2px solid grey;
    flex-basis: 1000px;
       
}


.articleimg1{
     display:flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}

.articleimg2{
     display: flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}

.articleimg3{
     display: flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}
.art1 {
    display: flex;
    flex: 1 150px;
    
  }

.art2 {
    display: flex;
    flex: 1 150px;
   
}

.art3 {
    display: flex;
    flex: 1 150px;
   
}

.content {
    display: flex;
    flex-wrap: wrap;
}