/* Main Page Layout B Nocis */

aside {
    flex-basis: 200px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-content: center; 
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 36px;
    flex-grow: 1;
    text-align: center;
    margin: auto;
     
    
  }

h2 {
    display: flex;
    font-size: 16px;
    align-self: flex-end;
    background-color: saddlebrown;
    color: floralwhite;
    margin-top: auto;
    padding: 5px;
    
  
    
}

.icons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 100px;
  margin-top: 100px; /*edit here for margin on header*/
}

.animals{
  background:url(/assets/ANIMALS.pdf);
  width: 11em;
  height: 11em;
}

.animals:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.food{
  background:url(/assets/FOOD.pdf);
  width: 11em;
  height: 11em;
}

.food:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.howto{
  background:url(/assets/HOWTO.pdf);
  width: 11em;
  height: 11em;
}

.howto:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.lifestyle{
  background:url(/assets/LIFESTYLE.pdf);
  width: 11em;
  height: 11em;
}

.lifestyle:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.plants{
  background:url(/assets/PLANTS.pdf);
  width: 11em;
  height: 11em;
}

.plants:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

.technology{
  background:url(/assets/TECHNOLOGY.pdf);
  width: 11em;
  height: 11em;
}

.technology:hover{
  background-color: saddlebrown;
  opacity: 0.5;
}

body {
   width: 90%;
   margin-left: 5%;
   margin-right: 5%;
    
}

.content {
    display: flex;
    margin: auto;
    
}

.article1,
.article2,
.article3 {
    display: flex;
    margin-top:20px;
    flex-wrap: wrap;
    border: 2px solid grey;
    flex-basis: 1000px;
       
}


.articleimg1{
     display:flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}

.articleimg2{
     display: flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}

.articleimg3{
     display: flex;
     flex-grow: 1;
     flex-basis: 300px;
     border: 1px solid grey;
}
.art1 {
    display: flex;
    flex: 1 150px;
    
  }

.art2 {
    display: flex;
    flex: 1 150px;
   
}

.art3 {
    display: flex;
    flex: 1 150px;
   
}

.content {
    display: flex;
    flex-wrap: wrap;
}
